h1 {
  color: #22bdf0;
  font-style: italic;
  font-size: 60px;
  text-shadow: 2px 2px #ffcccc;
}
.selected{
  color: #22bdf0;
}
.task-form{
  margin-top: 80px;
  margin-bottom: 80px;
}
.add-button{
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.filter{
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-danger {
  margin-top: 30px;
}
